<h2 mat-dialog-title>Qui sommes-nous?</h2>
<h4>Notre histoire</h4>
<mat-dialog-content>
  
    <ul>
    <li>Behance le site d'e-commerce N° 1 en Tunisie a été créé en mai 2012 avec l'objectif et la vision de devenir le guichet unique pour la vente au détail en Afrique avec la mise en œuvre des meilleures pratiques en ligne et hors ligne.</li>
    <li>Behance est le site avec le plus grand assortiment en Tunisie.</li>
    <li>Livraison partout en Tunisie.</li>
    <li>Au début nous avons fait un délai de livraison moyen d'une semaine, aujourd'hui nous faisons, en moyenne, la livraison en 4-6 jours .</li>
    <li>Behance a mis en place la première académie de e-commerce en Tunisie pour permettre aux jeunes entrepreneurs de développer leurs compétences. </li>
  </ul>

  </mat-dialog-content>
<mat-dialog-actions class="pull-right">
  <button mat-button mat-dialog-close>Fermer</button>
</mat-dialog-actions>
