<p class="text-center"><br/><br/><span class="h1">Faites vos courses en ligne facilement!</span><br/><br/>
  
  <img src="assets/img/site.jpg" style="width: 90%;"/>
  
  </p>
  <p class="text-center"><br/><br/><span class="h2">Découvrez nos catégories</span><br/><br/></p>
  <table class="table table-bordered">
    <thead class="thead-dark">
    <tr>
      <th class="text-center" style="font-size: large">Maison & Décoration</th>
      <th class="text-center" style="font-size: large">Accessoires</th>
      <th class="text-center" style="font-size: large">Sport</th>
      <th class="text-center" style="font-size: large">Vêtement</th>
    </tr>
    </thead>
    <tbody>
      <tr>
      <td class="text-center"><img src="assets/img/Maison.png" style="width: 80%;"/></td>
      <td class="text-center"><img src="assets/img/accessoires.jpg" style="width: 60%;"/></td>
      <td class="text-center"><img src="assets/img/sports.jpg" style="width: 70%;"/></td>
      <td class="text-center"><img src="assets/img/ClothingReadyWear.jpg" style="width: 80%;"/></td>
      </tr>
    </tbody>
  </table>
  <br>
  <p class="text-center"><br/><br/><span class="h2">Les plus demandés</span><br/><br/></p>
  <table class="table table-borderless">
    <tbody>
      <tr>
      <td class="text-center"><img src="assets/img/téléviseur.jpg" style="width: 50%;"/><br><br><span>Vega Téléviseur 40" Flat HD LED TV - Noir - Garantie 3 Ans<br><b>620 TND</b></span></td>
      <td class="text-center"><img src="assets/img/Récepteur.jpg" style="width: 60%;"/><br><br><span>Bein Récepteur - 4K - Blanc<br><b>1290 TND</b></span></td>
      <td class="text-center"><img src="assets/img/lampe.jpg" style="width: 60%;"/><br><br><span>Lampe De Table Tri-Pied 220 V - 35 Cm<br><b>65 TND</b></span></td>
      </tr>
    </tbody>
  </table>
  <div>
    <br><br><br>
    <p class="text-center">
    <b>Nouveau sur Behance?</b><br>
    <span>Inscrivez-vous à nos communications pour recevoir nos meilleures offres!</span>
  </p>
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <form id="formulaire">
          <div class="form-group">
            <label for="prenom">
              Prénom
            </label>
            <input type="text" id="name" class="form-control">
          </div>
          <div class="form-group">
            <label for="email">
              E-mail
            </label>
            <input type="text" id="name" class="form-control">
          </div>
          <button class="btn btn-primary">Enregistrer</button>
        </form>
      </div>
    </div>
  </div>